In [2]:
SELECT * FROM 'flats_data.csv';

      id      city  ... market_type               date_posted
0      1  Warszawa  ...     primary 2023-11-29 00:00:00+00:00
1      2    Poznań  ...     primary 2023-09-29 00:00:00+00:00
2      3    Gdańsk  ...     primary 2023-08-11 00:00:00+00:00
3      4    Poznań  ...     primary 2025-04-22 00:00:00+00:00
4      5    Poznań  ...   secondary 2024-01-23 00:00:00+00:00
..   ...       ...  ...         ...                       ...
295  296    Gdańsk  ...     primary 2024-02-27 00:00:00+00:00
296  297    Poznań  ...     primary 2023-10-30 00:00:00+00:00
297  298    Gdańsk  ...   secondary 2024-06-05 00:00:00+00:00
298  299    Poznań  ...     primary 2025-04-21 00:00:00+00:00
299  300    Poznań  ...     primary 2025-05-02 00:00:00+00:00

[300 rows x 9 columns]

In [8]:
-- AVG price in each city
SELECT city, ROUND(AVG(price_pln),0) AS avg_price
FROM df
GROUP BY city
ORDER BY avg_price DESC

       city  avg_price
0    Kraków   854351.0
1  Warszawa   848081.0
2    Poznań   836686.0
3    Gdańsk   828776.0
4   Wrocław   796350.0

In [11]:
-- AVG price per m² in each city
SELECT city, ROUND(AVG(price_pln / area_m2),0) AS price_per_meter
FROM df
GROUP BY city
ORDER BY price_per_meter DESC

       city  price_per_meter
0    Kraków          13159.0
1  Warszawa          13051.0
2    Poznań          12953.0
3   Wrocław          12765.0
4    Gdańsk          12750.0

In [12]:
-- AVG price per m² in each district
SELECT city, district, ROUND(AVG(price_pln / area_m2),0) AS price_per_meter
FROM df
GROUP BY city,district
ORDER BY price_per_meter DESC

        city      district  price_per_meter
0     Kraków     Nowa Huta          14219.0
1   Warszawa   Śródmieście          13519.0
2    Wrocław   Śródmieście          13460.0
3     Poznań  Stare Miasto          13147.0
4     Gdańsk         Oliwa          13074.0
5   Warszawa       Mokotów          13021.0
6     Poznań        Jeżyce          12975.0
7    Wrocław        Krzyki          12862.0
8     Poznań      Grunwald          12831.0
9     Kraków      Podgórze          12800.0
10    Gdańsk     Przymorze          12757.0
11    Kraków     Krowodrza          12731.0
12  Warszawa         Praga          12612.0
13    Gdańsk      Wrzeszcz          12391.0
14   Wrocław     Fabryczna          12030.0

In [13]:
-- What is the difference in the average price per m² between the primary and secondary market?
WITH avg_prices AS (
  SELECT 
    market_type,
    AVG(price_pln / area_m2) AS avg_price_m2
  FROM df
  GROUP BY market_type
)

SELECT 
  MAX(CASE WHEN market_type = 'primary' THEN avg_price_m2 END) -
  MAX(CASE WHEN market_type = 'secondary' THEN avg_price_m2 END) AS difference_primary_vs_secondary
FROM avg_prices;

   difference_primary_vs_secondary
0                       140.242338

In [21]:
--How many apartments on the secondary market have more than 3 rooms and cost less than PLN 700,000?
SELECT city, district, COUNT(*) AS result
FROM df
WHERE market_type = 'secondary' AND rooms > 3 AND price_pln < 700000
GROUP BY city, district

      city      district  result
0   Poznań      Grunwald       2
1   Kraków     Krowodrza       2
2   Poznań        Jeżyce       1
3   Poznań  Stare Miasto       1
4   Gdańsk     Przymorze       1
5   Kraków      Podgórze       1
6   Kraków     Nowa Huta       2
7   Gdańsk         Oliwa       2
8  Wrocław        Krzyki       1

In [26]:
--Which district in Warsaw has the highest number of ads?
SELECT city, district, COUNT(*) AS result
FROM df
WHERE city = 'Warszawa'
GROUP BY city,district

       city     district  result
0  Warszawa        Praga      21
1  Warszawa  Śródmieście      21
2  Warszawa      Mokotów      20

In [28]:
--What is the average price per m² in Warsaw districts?
SELECT city, district, ROUND(AVG(price_pln / area_m2),0) AS price_per_meter
FROM df
WHERE city = 'Warszawa'
GROUP BY city, district
ORDER BY price_per_meter DESC

       city     district  price_per_meter
0  Warszawa  Śródmieście          13519.0
1  Warszawa      Mokotów          13021.0
2  Warszawa        Praga          12612.0

In [34]:
--How many apartments in Warsaw cost less than PLN 600,000 and have at least 2 rooms?
SELECT district,COUNT(*) AS result
FROM df
WHERE price_pln < 600000 AND rooms>=2 AND city='Warszawa'
GROUP BY district
ORDER BY result DESC

      district  result
0        Praga       6
1  Śródmieście       4
2      Mokotów       2