In [3]:
SELECT * FROM 'country_wise_latest.csv';

                 Region  Confirmed  ...  1 week % increase             WHO_Region
0           Afghanistan      36263  ...               2.07  Eastern Mediterranean
1               Albania       4880  ...              17.00                 Europe
2               Algeria      27973  ...              18.07                 Africa
3               Andorra        907  ...               2.60                 Europe
4                Angola        950  ...              26.84                 Africa
..                  ...        ...  ...                ...                    ...
182  West Bank and Gaza      10621  ...              19.12  Eastern Mediterranean
183      Western Sahara         10  ...               0.00                 Africa
184               Yemen       1691  ...               4.45  Eastern Mediterranean
185              Zambia       4552  ...              36.86                 Africa
186            Zimbabwe       2704  ...              57.85                 Africa

[187 rows x 15 columns]

In [5]:
--Which countries have the highest number of confirmed cases?
SELECT region, confirmed
FROM covid
ORDER BY confirmed DESC
LIMIT 10

           Region  Confirmed
0              US    4290259
1          Brazil    2442375
2           India    1480073
3          Russia     816680
4    South Africa     452529
5          Mexico     395489
6            Peru     389717
7           Chile     347923
8  United Kingdom     301708
9            Iran     293606

In [6]:
--Which countries have the highest number of deaths?
SELECT region, deaths
FROM covid
ORDER BY deaths DESC
LIMIT 10

           Region  Deaths
0              US  148011
1          Brazil   87618
2  United Kingdom   45844
3          Mexico   44022
4           Italy   35112
5           India   33408
6          France   30212
7           Spain   28432
8            Peru   18418
9            Iran   15912

In [8]:
--Which countries have the highest number of recovered cases?
SELECT region, recovered
FROM covid
ORDER BY recovered DESC
LIMIT 10

         Region  Recovered
0        Brazil    1846641
1            US    1325804
2         India     951166
3        Russia     602249
4         Chile     319954
5        Mexico     303810
6  South Africa     274925
7          Peru     272547
8          Iran     255144
9      Pakistan     241026

In [11]:
--What is the death rate for each country?
SELECT region, deaths, confirmed, 
	ROUND((deaths / confirmed),2) AS death_rate
FROM covid
ORDER BY death_rate DESC

             Region  Deaths  Confirmed  death_rate
0             Yemen     483       1691        0.29
1           Belgium    9822      66428        0.15
2    United Kingdom   45844     301708        0.15
3            France   30212     220352        0.14
4             Italy   35112     246286        0.14
..              ...     ...        ...         ...
182       Singapore      27      50838        0.00
183       Sri Lanka      11       2805        0.00
184     Timor-Leste       0         24        0.00
185          Uganda       2       1128        0.00
186         Vietnam       0        431        0.00

[187 rows x 4 columns]

In [13]:
--Which countries have the highest number of active cases?
SELECT region, active
FROM covid
ORDER BY active DESC
LIMIT 10

           Region   Active
0              US  2816444
1          Brazil   508116
2           India   495499
3  United Kingdom   254427
4          Russia   201097
5    South Africa   170537
6        Colombia   117163
7          France   108928
8          Canada   107514
9            Peru    98752

In [22]:
--What is the total number of cases (confirmed, deaths, recovered, active)?
SELECT region, confirmed 
FROM covid
ORDER BY confirmed DESC

                    Region  Confirmed
0                       US    4290259
1                   Brazil    2442375
2                    India    1480073
3                   Russia     816680
4             South Africa     452529
..                     ...        ...
182               Dominica         18
183  Saint Kitts and Nevis         17
184              Greenland         14
185               Holy See         12
186         Western Sahara         10

[187 rows x 2 columns]

In [23]:
--What is the total number of cases worldwide?
SELECT SUM(confirmed) AS result
FROM covid

       result
0  16480485.0

In [27]:
--Which countries have the highest recovery rate?
SELECT region, ROUND(recovered / confirmed,3) AS recovery_rate
FROM covid
WHERE recovery_rate>0.9
ORDER BY recovery_rate DESC

           Region  recovery_rate
0        Dominica          1.000
1         Grenada          1.000
2        Holy See          1.000
3        Djibouti          0.984
4         Iceland          0.983
5          Brunei          0.979
6     New Zealand          0.972
7           Qatar          0.970
8        Malaysia          0.966
9       Mauritius          0.965
10         Norway          0.958
11        Taiwan*          0.952
12           Laos          0.950
13          Malta          0.949
14        Estonia          0.945
15       Thailand          0.944
16  Liechtenstein          0.942
17     San Marino          0.940
18        Finland          0.935
19           Cuba          0.929
20      Greenland          0.929
21        Comoros          0.927
22         Turkey          0.927
23          Chile          0.920
24        Germany          0.919
25    Saint Lucia          0.917
26        Denmark          0.916
27    South Korea          0.916
28        Bahrain          0.915
29          China          0.909
30          Niger          0.907
31        Ireland          0.902

In [30]:
--Which countries have more deaths than recoveries?
SELECT region, deaths, recovered
FROM covid
WHERE deaths > recovered
ORDER BY (deaths-recovered) DESC

           Region  Deaths  Recovered
0  United Kingdom   45844       1437
1          Canada    8944          0
2     Netherlands    6160        189
3          Sweden    5700          0
4          Serbia     543          0
5           Syria      40          0
6      Mozambique      11          0

In [31]:
--What percentage of global confirmed cases is in each country?
SELECT region,
       confirmed,
       ROUND(confirmed * 100.0 / (SELECT SUM(confirmed) FROM covid), 2) AS global_share
FROM covid
ORDER BY global_share DESC

                  Region  Confirmed  global_share
0                     US    4290259         26.03
1                 Brazil    2442375         14.82
2                  India    1480073          8.98
3                 Russia     816680          4.96
4           South Africa     452529          2.75
..                   ...        ...           ...
182             Tanzania        509          0.00
183          Timor-Leste         24          0.00
184  Trinidad and Tobago        148          0.00
185              Vietnam        431          0.00
186       Western Sahara         10          0.00

[187 rows x 3 columns]